body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: #0069D9;
  font-family: 'Roboto';
}

th, td, Form, p {
  color: #191919;
  font-family: 'Roboto';
  /* font-weight: 500; */
  font-size: large;
}

#homepage {
  background: url('../images/homepage.jpg'); 
  background-attachment: fixed;
  background-color: rgba(255,255,255,0.2);
  background-blend-mode: lighten;
  background-size: cover;
  width: 100%;
  height: 80vh;
  margin: 0em;
}

#routes {
  margin-top: 1.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

#videos-card {
  width: 70em;
}

.card {
  color: black;
  width: 23em;
}

.card-body {
  max-height: 60vh;
  overflow-y: auto;
}

.card-body img {
  height: 10em;
  width:10em;
  border-radius: 50%;
}

.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
}

.col-lg {
  margin-top: 1.5em;
}

.container {
  width: 100%;
  margin-bottom: 5em;
}

.form-group {
  margin-top: 2em;
}

.first-element {
  margin-top: 1em;
}

.left-button {
  margin-right: 1em;
}

.form-button {
  margin-top: 2em;
}

button:hover {
  color: transparent;
}

#form-kinect-wrapper {
  margin-top: 1em;
  color: white;
  border: solid; 
  border-color: #0069D9;
}

#profile-image {
  border-radius: 25px;
  cursor: pointer;
}

.body-part-image {
  cursor: pointer; 
  border-radius: 8px;
}

#accountForm {
  padding: 1em 2em 2em 2em;
  border: 1px solid #ececec;
  width: 35%;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}

#accountForm >  .btn, .form-label  {
  margin-top: 1em;
}

#userModal {
  background-color: #FAFBFC;
  position: absolute;
  padding: 1em;
  right: 8px;
  margin-top: 1em;
  border-radius: 8px;
  z-index: 99;
  border: 1px solid grey
}

#addSymptomForm {
  width: 60%;
  margin: auto;
  border: solid;
  border-color: #FAFBFC;
  padding: 2em;
  margin-bottom: 2em;
  background-color: #FAFBFC;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,.2);
}

.selectedBodyPartLabel {
  color: white;
  margin-top: 2em;
  font-family: Roboto;
  padding: 1em;
  font-weight: 500;
  border-radius: 8px;
  background-color: #1976D2;
}

.selectedBodyPartLabel selected {
  background-color: #28a745;
}

/* RANGE BAR */
.inputR {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  opacity: 1;
  outline: none;
  margin: 0 auto;
  border-radius: 10%;
}

.inputR::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: #191919;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.RFS-StepCircle {
  pointer-events: none;
}