body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, th, td, Form {
  color: white
}

option {
  color: white;
  background-color: #181A1B;
}

/* RANGE BAR */
.inputR {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  opacity: 1;
  outline: none;
  margin: 0 auto;
  border-radius: 10%;
}

.inputR::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}